:root {
  --background-color: #0b95f2; /* Color de fondo para el tema claro */
  --text-color: #000000; /* Color del texto para el tema claro */
  --card-background: darkgrey; /* Fondo de las tarjetas para el tema claro */
}

.dark-theme {
  --background-color: #1a1a1a; /* Color de fondo para el tema oscuro */
  --text-color: #ffffff; /* Color del texto para el tema oscuro */
  --card-background: #333333; /* Fondo de las tarjetas para el tema oscuro */
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s, color 0.5s;
}

.container {
  position: relative; /* Necesario para posicionar el botón de cambio de tema dentro del contenedor */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
}

.weather-box {
  margin-top: 20px;
}

#city-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 80%;
  margin-bottom: 10px;
  color: var(--text-color); /* Color del texto en el input */
  background-color: var(--card-background); /* Fondo del input */
}

#get-weather-btn, #get-location-btn {
  padding: 10px 20px;
  background-color: #0072ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

#get-weather-btn:hover, #get-location-btn:hover {
  background-color: #36b500;
}

#weather-result {
  margin-top: 20px;
  display: none;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
}

#weather-icon {
  width: 120px;
  height: 120px;
  margin: -30px;
}

#theme-toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 24px; /* Tamaño del ícono */
  display: flex; /* Alinea los íconos horizontalmente */
  align-items: center;
}

#theme-toggle-btn i {
  margin: 0; /* Elimina el margen por defecto */
}

#theme-icon-dark {
  display: none; /* Inicialmente, oculta el ícono de luna */
}
