/* Variables de color */
:root {
  --background-color: #0b95f2; /* Color de fondo para el tema claro */
  --text-color: #000000; /* Color del texto para el tema claro */
  --card-background: darkgrey; /* Fondo de las tarjetas para el tema claro */
  --footer-background: #000000; /* Fondo del footer para el tema claro */
  --footer-text-color: #ffffff; /* Color del texto del footer para el tema claro */
}

.dark-theme {
  --background-color: #1a1a1a; /* Color de fondo para el tema oscuro */
  --text-color: #ffffff; /* Color del texto para el tema oscuro */
  --card-background: #333333; /* Fondo de las tarjetas para el tema oscuro */
  --footer-background: #ffffff; /* Fondo del footer para el tema oscuro */
  --footer-text-color: #000000; /* Color del texto del footer para el tema oscuro */
}

/* Estilos para el cuerpo */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden; /* Evita que aparezcan barras de desplazamiento */
  transition: background-color 0.5s, color 0.5s;
  position: relative; /* Asegura que el footer se posicione correctamente */
}

/* Estilos para el contenedor */
.container {
  position: relative; /* Necesario para posicionar el botón de cambio de tema dentro del contenedor */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  width: 100%; /* Ancho completo en pantallas pequeñas */
  max-width: 90%; /* Ancho máximo del contenedor para pantallas grandes */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  margin-bottom: 60px; /* Espacio suficiente para el footer */
}

/* Estilos para la caja del clima */
.weather-box {
  margin-top: 20px;
}

/* Estilos para el input de ciudad */
#city-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%; /* Ajuste del ancho completo en pantallas pequeñas */
  margin-bottom: 10px;
  color: var(--text-color); /* Color del texto en el input */
  background-color: var(--card-background); /* Fondo del input */
  box-sizing: border-box; /* Incluye padding en el ancho del input */
}

/* Estilos para los botones */
#get-weather-btn,
#get-location-btn {
  padding: 10px 20px;
  background-color: #0072ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

#get-weather-btn:hover,
#get-location-btn:hover {
  background-color: #36b500;
}

/* Estilos para el resultado del clima */
#weather-result {
  margin-top: 20px;
  display: none;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
  width: 100%; /* Ajusta al ancho del contenedor */
  box-sizing: border-box; /* Incluye padding en el ancho del resultado */
}

/* Estilos para el ícono del clima */
#weather-icon {
  width: 100px; /* Tamaño reducido para pantallas pequeñas */
  height: 100px;
}

/* Estilos para el botón de cambio de tema */
#theme-toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 24px; /* Tamaño del ícono */
  display: flex; /* Alinea los íconos horizontalmente */
  align-items: center;
}

#theme-toggle-btn i {
  margin: 0; /* Elimina el margen por defecto */
}

#theme-icon-dark {
  display: none; /* Inicialmente, oculta el ícono de luna */
}

/* Estilos para el footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
  margin: 0;
}

footer a {
  color: var(--footer-text-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 600px) {
  .container {
    width: 90%; /* Ancho del 90% en pantallas pequeñas */
    max-width: 100%; /* Asegura que el contenedor no sea más ancho que el viewport */
  }

  #city-input {
    width: 100%; /* Asegura que el input ocupe el ancho completo del contenedor */
  }

  #weather-result {
    width: 100%; /* Asegura que el resultado del clima ocupe el 100% del contenedor */
  }

  #weather-icon {
    width: 80px; /* Tamaño reducido para pantallas pequeñas */
    height: 80px;
  }

  #theme-toggle-btn {
    font-size: 20px; /* Ajusta el tamaño del ícono en pantallas pequeñas */
  }
}

@media (max-width: 320px) {
  #city-input {
    font-size: 14px; /* Ajusta el tamaño de fuente en pantallas muy pequeñas */
    padding: 8px; /* Ajusta el padding en pantallas muy pequeñas */
  }

  #get-weather-btn,
  #get-location-btn {
    font-size: 14px; /* Ajusta el tamaño de fuente de los botones */
    padding: 8px 16px; /* Ajusta el padding de los botones */
  }

  #weather-icon {
    width: 60px; /* Tamaño aún más reducido para pantallas muy pequeñas */
    height: 60px;
  }

  #theme-toggle-btn {
    font-size: 18px; /* Ajusta el tamaño del ícono del botón de tema */
    top: 5px; /* Ajusta la posición vertical del botón de tema */
    right: 5px; /* Ajusta la posición horizontal del botón de tema */
  }
}
